@tailwind base;
@tailwind components;
@tailwind utilities;

.floating-input > input::placeholder {
  color: transparent;
}
.floating-input > input:focus,
.floating-input > input:not(:placeholder-shown) {
  @apply pt-6;
}
.floating-input > input:focus ~ label,
.floating-input > input:not(:placeholder-shown) ~ label {
  @apply opacity-75 scale-75 -translate-y-3 translate-x-1;
}
